@page
@model CourseManagement.Areas.Teacher.Pages.Questions.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Teacher/Pages/Shared/_TeacherLayout.cshtml";
}

<h1>Create</h1>

<h4>Question</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Question.QContent" class="control-label"></label>
                <input asp-for="Question.QContent" class="form-control" />
                <span asp-validation-for="Question.QContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Question.Opt1" class="control-label"></label>
                <input asp-for="Question.Opt1" class="form-control" />
                <span asp-validation-for="Question.Opt1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Question.Opt2" class="control-label"></label>
                <input asp-for="Question.Opt2" class="form-control" />
                <span asp-validation-for="Question.Opt2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Question.Opt3" class="control-label"></label>
                <input asp-for="Question.Opt3" class="form-control" />
                <span asp-validation-for="Question.Opt3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Question.Opt4" class="control-label"></label>
                <input asp-for="Question.Opt4" class="form-control" />
                <span asp-validation-for="Question.Opt4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Question.Correctans" class="control-label"></label>
                <input asp-for="Question.Correctans" class="form-control" />
                <span asp-validation-for="Question.Correctans" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
