@page
@model CourseManagement.Areas.Identity.Pages.Account.Manage.IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group mb-3">
                <label asp-for="Username">Username</label>
                <input asp-for="Username" class="form-control" disabled />
            </div>

            <div class="form-group mb-3">
                <label asp-for="Input.FirstName">First Name</label>
                <input asp-for="Input.FirstName" class="form-control" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Input.LastName">Last Name</label>
                <input asp-for="Input.LastName" class="form-control" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Input.Address">Address</label>
                <input asp-for="Input.Address" class="form-control" />
                <span asp-validation-for="Input.Address" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Input.Birthday">Birthday</label>
                <input asp-for="Input.Birthday" type="date" class="form-control" value="@Model.Input.Birthday.ToString("yyyy-MM-dd")" />
                <span asp-validation-for="Input.Birthday" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Input.ImageFile">Image File</label>
                <input asp-for="Input.ImageFile" type="file" class="form-control" />
                <span asp-validation-for="Input.ImageFile" class="text-danger"></span>
            </div>

            <button id="update-profile-button" type="submit" class="btn btn-danger">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}