@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>
<h2 id="external-login-title">Associate your @Model.ProviderDisplayName account.</h2>
<hr />

<p id="external-login-description" class="text-info">
    You've successfully authenticated with <strong>@Model.ProviderDisplayName</strong>.
    Please fill out the form below to finish registering.
</p>

<div class="row">
    <div class="col-md-6">
        <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.FirstName" class="form-control" />
                <label asp-for="Input.FirstName" class="form-label">First Name</label>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.LastName" class="form-control" />
                <label asp-for="Input.LastName" class="form-label">Last Name</label>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="email" />
                <label asp-for="Input.Email" class="form-label">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <label asp-for="Input.PhoneNumber" class="form-label">Phone Number</label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Address" class="form-control" />
                <label asp-for="Input.Address" class="form-label">Address</label>
                <span asp-validation-for="Input.Address" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Dob" class="form-control" type="date" />
                <label asp-for="Input.Dob" class="form-label">Date of Birth</label>
                <span asp-validation-for="Input.Dob" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Password" class="form-control" type="password" />
                <label asp-for="Input.Password" class="form-label">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control" type="password" />
                <label asp-for="Input.ConfirmPassword" class="form-label">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ImageFile">Image File</label>
                <input asp-for="Input.ImageFile" type="file" class="form-control-file" />
                <span asp-validation-for="Input.ImageFile" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
