@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="container d-flex align-items-center justify-content-center" style="margin-top:20px">
    <div class="text-center">
        <h1>@ViewData["Title"]</h1>
        <p>Please check your email to reset your password.</p>
    </div>
</div>
