@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "/Pages/Shared/_LoginLayout.cshtml";
}

<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-8 col-lg-7 col-xl-6">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
                     class="img-fluid" alt="Phone image">
            </div>
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                   
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input asp-for="Input.Email" class="form-control form-control-lg" autocomplete="username" aria-required="true" />
                        <label class="form-label" asp-for="Input.Email">Email address</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>

                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Reset Password</button>

                    <div class="btn btn-primary btn-lg btn-block mb-3">
                        <a asp-page="./Login" style="color: white;">Cancel</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
