@page "/RegisterConfirmation/"
@model RegisterConfirmationModel
@{
    Layout = null;
    ViewData["Title"] = "Xác nhận đăng ký";
}

<h1>@ViewData["Title"]</h1>
<p>
    Một email đã gửi đến cho bạn, bạn cần mở email làm theo hướng dẫn trong email sau đó
    <a asp-page="/Index">Bấm vào đây để trở về trang chủ</a>
</p>