@page
@model RegisterModel
@{
    Layout = "/Pages/Shared/_LoginLayout.cshtml";
    ViewData["Title"] = "Register";
}

<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-8 col-lg-7 col-xl-6">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
                     class="img-fluid" alt="Phone image">
            </div>
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                    <!-- First Name input -->
                    <div class="form-outline mb-4">
                        <input class="form-control form-control-lg" asp-for="Input.FirstName" />
                        <label class="form-label">First Name</label>
                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    </div>

                    <!-- Last Name input -->
                    <div class="form-outline mb-4">
                        <input class="form-control form-control-lg" asp-for="Input.LastName" />
                        <label class="form-label">Last Name</label>
                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                    </div>

                    <!-- Phone Number input -->
                    <div class="form-outline mb-4">
                        <input class="form-control form-control-lg" asp-for="Input.PhoneNumber" />
                        <label class="form-label">Phone Number</label>
                        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                    </div>

                    <!-- Address input -->
                    <div class="form-outline mb-4">
                        <input class="form-control form-control-lg" asp-for="Input.Address" />
                        <label class="form-label">Address</label>
                        <span asp-validation-for="Input.Address" class="text-danger"></span>
                    </div>

                    <!-- Date of Birth input -->
                    <div class="form-outline mb-4">
                        <input class="form-control form-control-lg" asp-for="Input.Dob" type="date" />
                        <label class="form-label">Date of Birth</label>
                        <span asp-validation-for="Input.Dob" class="text-danger"></span>
                    </div>

                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input class="form-control form-control-lg" asp-for="Input.Email" />
                        <label class="form-label">Email</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <input class="form-control form-control-lg" asp-for="Input.Password" />
                        <label class="form-label">Password</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>

                    <!-- Confirm Password input -->
                    <div class="form-outline mb-4">
                        <input class="form-control form-control-lg" asp-for="Input.ConfirmPassword" />
                        <label class="form-label">Confirm Password</label>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>

                    <!-- Image File input -->
                    <div class="form-group mb-4">
                        <label asp-for="Input.ImageFile">Image File</label>
                        <input asp-for="Input.ImageFile" type="file" class="form-control-file" />
                        <span asp-validation-for="Input.ImageFile" class="text-danger"></span>
                    </div>

                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Register</button>

                    <div class="btn btn-primary btn-lg btn-block mb-3">
                        <a asp-page="./Login" style="color: white;">Cancel</a>
                    </div>

                    <div class="divider d-flex align-items-center my-4">
                        <hr class="flex-grow-1" style="border-top: 1px dashed #dee2e6;">
                        <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
                        <hr class="flex-grow-1" style="border-top: 1px dashed #dee2e6;">
                    </div>
                </form>

                <div>
                    @if ((Model.ExternalLogins?.Count ?? 0) != 0)
                    {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                            @foreach (var provider in Model.ExternalLogins)
                            {
                                @if (provider.Name.ToLower() == "google")
                                {
                                    <button type="submit" class="btn btn-primary btn-lg btn-block" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                        <i class="fab fa-google me-2"></i>Continue with Google
                                    </button>
                                }
                            }
                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
