@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}


<div class="container d-flex align-items-center justify-content-center" style="margin-top:20px">
    <div class="text-center">
        <h1>@ViewData["Title"]</h1>
        Password has been reset. Please <a asp-page="./Login">click here to log in</a>.
</div>
</div>
