<!DOCTYPE html>
<html lang="en">
<head>
    <!-- bootstrap Style CSS File -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Custom Style CSS File -->
    <link rel="stylesheet" type="text/css" href="css/custom-style.css">
    <link rel="stylesheet" type="text/css" href="css/loaders.css" />
    <!-- Font-Awesome Style CSS File -->
    <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CourseManagement</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CourseManagement.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/kTc8J6K4S1g9T9qCuTj5k1q/65K4eQ4+7yn7U1JZgfk5IV7wAXT1yN5PZGzFu4x5/U5fhF1NxT4zw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md fixed-top top-nav">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-page="/Index"><strong>EngLearn</strong></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><img src="~/img/icons/menu.png"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav m-auto text-sm-center text-md-center">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Index">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#services">Courses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#about">About Us</a>
                        </li>
@*                         <li class="nav-item">
                            <a class="nav-link" href="#price"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#testimonial">Testimonials</a>
                        </li> *@
                        <li class="nav-item">
                            <a class="nav-link" href="#contact">Contact</a>
                        </li>
                    </ul>
                </div>
                <ul class="navbar-nav ml-auto search-box">
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-search text-white"></i></a>
                    </li>
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </nav>
    </header>

            @RenderBody()

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - CourseManagement - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>